
body { background: #fbfbfb !important;}
 table, th, td {
   border: 1px dotted #ACACCF !important; 
}


.navbar-default {
  background: rgba(0, 61, 14, 0.14);
  border: 0;
  margin-bottom: 0;

}

.navbar-toggle {
    background: blue;
}
.navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF !important;
    background-color: rgba(0, 95, 21, 0.44) !important;
}

.nav > li > a {
    position: relative;
    display: block;
    color: #FFFFFF !important;
    background-color: #003d0e !important;
}

.panel-heading {
    /*background-color: #DDDDDD !important;*/
}
.jumbotron {
    background-color: #DDDDDD !important;
}


.modal-dialog { /*#artefact-modal-dialogue {*/
    width: 96%;
    height: 96%;
    outline: 0;
    horiz-align: center;



}

.modal-content { /* #artefact-modal-content {*/
    height: 96%;
    /*min-height: 100%;*/
    border: none;
    outline: 0;

}

.modal-header {
    height: 10%;
}

.modal-body {
   height: 90%;
    border: none;
    outline: 0;


/*min-height: 100%;-->*/


}

.form-group {
    height: 100%;
    padding-left: 4%;
    padding-right: 4%;
    border: none;
    outline: 0;


/*<!--min-height: 100%;-->*/

}

#info {
    height: 70%;
    border: none;
    outline: 0;
    overflow:auto;
    resize:none;

}

#tags_container {
    position:absolute;
    bottom: 5%;
}

.mceEditor > table {
    height: 80% !important;
}

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");


/* SEARCH BAR */

.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
}
