@(artefacts:List[Artefact],loginForm:play.api.data.Form[User],user:String)(implicit messages: Messages)



@main( play.Play.application().configuration().getString("application.name") , loginForm ,user) {

	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/magicsuggest-min.css")">
	<script src='@routes.Assets.at("javascripts/magicsuggest/magicsuggest-min.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/feedhelper.js")' type="text/javascript"></script>



	<button type="button" class="btn btn-default btn- " id="postButton" onClick="add()">New Artefact</button>

    <div class="well" id="artefacts"></div>

    <div class="modal fade" id="addArtefact" role="dialog">
        <div class="modal-dialog">

                <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Post</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <dl>
                            <dt><label>info</label></dt>
                            <dd>
                                <textarea style="overflow:auto;resize:none;min-width: 80%" draggable="false"
                                class="form-control" id="info" name="info" rows="5"></textarea>
                            </dd>
                            <br>
                            <dt><label class="tagslabel">tags</label></dt>
                            <div style="resize:none;min-width: 80%" draggable="false"
                                class="form-control2" id="tags" name="tags">
                            </div>
                        </dl>
                        <button id = "submitArtefactButton" class="btn btn-primary" data-dismiss="modal" type="button">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>


			var tags = [];
			var ms;

            $(document).ready(function() {
                $("#tags").hide();

				msex = function() {

					    ms = $('#tags').magicSuggest({
						allowFreeEntries: true,
							placeholder: 'Begin typing to search for existing tags or add your own',
							vregex: /^[a-z0-9_-]{1,20}$/,
							maxSelection: 3,
							data: tags
					});

					    console.log('data tags size ' + ms.getData().length);
				};

				getArtefactTags(msex);


            });

            $(".tagslabel").click(function(){
                $("#tags").toggle(500);
            });


			function add() {
				//console.log("START MODAL");
				$('#addArtefact').modal('show');
				$('#info').select();
			}

			$('#postButton').hover(
					function() {
						add();
					}
			);
			$('#postButton').click(
					function() {
						$('#addArtefact').modal('hide');
					}
			);




        @if( user == null ) {
	$('#postButton').prop('disabled', true);
} else {
	$('#postButton').prop('disabled', false);
}

	loadData();


	var error = null;
	$('#submitArtefactButton').on(
			'click',
			function(e) {

				// POST NEW ARTEFACT TAGS

				for (var i = 0; i < ms.getValue().length; i++) {

					if (tags.indexOf(ms.getValue()[i]) == -1) {

						postArtefactTags(ms.getValue()[i]);
						tags.push(ms.getValue()[i]);

					}
				}





				// POST NEW ARTEFACT

				// Retrieve tag values

				var tags_ids_String = ms.getValue().join();
				var user = $('#user').val()
				var info = $('#info').val()
				var json = '{ "id": 0, "content":"' + info.replace(/[\r?\n]/g, " ") + '", "tags_ids_string": "' + tags_ids_String + '", "creator": 0, "created": "1971-01-01T00:00:00.000" }'

				//console.log(json)
				$('#user').val('')
				$('#info').val('')
				e.preventDefault();
				$.ajax({
					type : "POST",
					contentType : "application/json; charset=utf-8",
					data : json,
					url : "/api/artefacts",
					success : function(data) {
						console.log(data);
						loadData();
					},
					error : function(response) {
						alert("error " + response.statusText + ":"+ response.status+" - " +response.responseText)
					}
				});
							});


</script>

}
