@import models.Users.User
@(

        title: String,
        loginForm: play.api.data.Form[User],
        user: String,
        isFeed: Boolean = false

)(content: Html)(implicit flash: Flash)
@import helper._
@import play.api.i18n.Messages.Implicits._
@import play.Logger

<!DOCTYPE html>
<html>
    <head>

        @main_elements.head(title)

    </head>
    <body>

        @main_elements.navbar(user, isFeed)

        <div class="container">

     @main_elements.flash()(flash)
            @content

            @main_elements.login_form(loginForm)



        </div>

    </body>
</html>